@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&family=Sacramento&display=swap');

/* 
  配色はこちらを参照
  https://colordrop.io/color/17935
 */
$color-base:#2694ab;
$color-second: #e59572;
$color-hover: #e5cabe;
$color-accent: #ea7070;
$color-font:#f6f6e9;
$color-main:#f6f6e9;
$color-side:#f6f6e9;
$color-footer: #e59572;

// $pc: 1024px; // PC
$tab: 999px; // タブレット
$sp: 480px;  // スマホ

// @mixin pc {
//   @media (max-width: ($pc)) {
//     @content;
//   }
// }
@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}

body{
  margin: 0;
  background-color: $color-base;

  header {
    background-color: $color-second;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    .title {
      width: 100%;
      height: 200px;
      color: $color-font;
      font-family: 'Noto Serif', serif;
      font-size: 3em;
      text-align: center;
      line-height: 200px;
      @include tab {
        height: 100px;
        width: 100%;
        font-size: 2em;
        text-align: center;
        line-height: 100px;
      };
      @include sp {
        height: 100px;
        width: 100%;
        font-size: 2em;
        text-align: center;
        line-height: 100px;
      };
    }
  } /* header */


  main {
    width: 1000px;
    min-height: 1000px;
    margin: 20px auto;
    @include tab {
      width: 100%;
      margin: 20px auto 0;
    };
    @include sp {
      width: 100%;
      margin: 20px auto 0;
    };
    .contanor {
      width: 100%;
      display: flex;
      height: auto;
      @include tab {
        display: block;
      };
      @include sp {
        display: block;
      };
      article {
        background-color: $color-base;
        width: 74%;
        height: auto;
        @include tab {
          width: 100%;
        }
        @include sp {
          width: 100%;
        }
        .content {
          margin: 10px;
          border: 1.5px $color-accent solid;
          background-color: $color-main;
          .top {
            position: relative;
            padding: 4px;
            margin-bottom: 40px;
            .title {
              margin-left: 100px;
            }
            .category {
              margin-left: 100px;
            }
            .date {
              color: $color-font;
              background:$color-accent;
              border-radius: 50%;
              width: 80px;
              height: 80px;
              font-size: 1rem;
              text-align: center;
              position: absolute;
              top: 0;
              padding-top: 10px;
              span {
                font-size: 0.8rem;
                border-top: 1px $color-font solid;
                padding-top: 6px;
                display: block;
                width: 60%;
                margin: 0 auto;
              }
            }
            .blogbody {
              margin-left: 100px;
              display: flex;
              @include tab {
                margin-left: 0;
                display: block;
              }
              @include sp {
                margin-left: 0;
                display: block;
              }
              img {
                width: 340px;
                height: auto;
              }
              .sentence {
                margin-left: 20px;
                margin-right: 10px;
              }
            }
          }
        }
        .page-layout {
          margin: 10px;
          display: flex;
          justify-content: space-around;
          .pager {
            display: flex;
            justify-content: space-around;
            .pre, .next, .page {
              padding: 7px;
              background-color: $color-second;
              margin-right: 3px;
              cursor: pointer;
            }
            .pre:hover, .next:hover, .page:hover {
              opacity: 0.3;
            }
            .current {
              background-color: $color-accent;
            }
          }
        }
      } /* article */
      aside {
        margin-left: 10px;
        background-color: $color-side;
        width: 26%;
        @include tab {
          margin-left: 0;
          padding-bottom: 20px;
          width: 100%;
        }
        @include sp {
          margin-left: 0;
          padding-bottom: 20px;
          width: 100%;
        }
        .content {
          margin: 10px;
          .title {
            font-size: 1.1rem;
            border-bottom: 2px $color-accent solid;
          }
        }
        ul.recent {
          margin-left: -20px;
          li {
            font-size: 0.7rem;
            list-style: none;
            margin-bottom: 10px;
            a {
              color: $color-accent;
              text-decoration: none;
            }
            a:hover {
              background-color: $color-hover;
            }
          }
        }
        ul.category {
          margin-left: -20px;
          li {
            font-size: 0.7rem;
            list-style: none;
            margin-bottom: 10px;
            display: inline-block;
            background-color: $color-accent;
            padding: 5px;
            border-radius: 5%;
            box-sizing: border-box;
            cursor: pointer;
            a {
              top: 0;
              left: 0;
              text-decoration: none;
              color: $color-font;
            }
          }
          li:hover {
            background-color: $color-second;
          }
        }
        ul.sns {
          margin-left: -20px;
          li {
            font-size: 0.7rem;
            list-style: none;
            margin-top: 20px;
            background-color: $color-second;
            padding: 10px;
            box-sizing: border-box;
            width: 90%;
            height: 40px;
            cursor: pointer;
            position: relative; /* div全体をリンク化するためです。 */
            a {
              position: absolute;
              top: 10;
              left: 20;
              width: 100%;
              height: 100%;
              color: $color-font;
              text-decoration: none;
            }
          }
          li:hover {
            background-color: $color-hover;
          }
        }
      }
    }
  } /* main */


  footer {
    width: 100%;
    background-color: $color-second;
    position: absolute;/*←絶対位置*/
    height: 50px;
    @include tab {
      position: relative;
      width: 100%;
    }
    @include sp {
      height: 100px;
      width: 100%;
    }

  } /* footer */


}



